@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    In your House<br />
    Valhala, WA 98052-6399<br />
    <abbr title="Phone">Phone:</abbr>
    644.454.9664
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">nadie@outlook.com</a><br />
    @*<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">nadieg@outlook.com</a>*@
</address>