@{
    ViewBag.Title = "About Gazorpgazor Fridge";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>With this application you wiil be able to simulate smart frige operations even of you do no have one. You must have a registered fridge distributed my Mike Teletubi to be able to create an account</p>
